<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Semillero - Spring boot</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 <h1><center>Vuelos</center></h1>

<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h2>Registro Cliente</h2>
        </div>
        <div class="col-12">
            <form thraction="@{/home/vuelos}" method="post" th:object="${post}">
                    <div class="form-row">
                        <div class="col">
                            <label for="cedulaCliente">Cedula:</label><BR />
                            <input id="cedulaCliente" type="text" required="required"/> <br /> <br />
                        </div>
                        <div class="col">
                            <label for="nombreCliente">Nombre:</label><BR /> <input
                                id="nombreCliente" type="text" required="required"/> <br /> <br />
                        </div>
                        <div class="col">
                            <label for="telefonoCliente">Cedula:</label><BR /> <input
                                id="telefonoCliente" type="number" required="required"/> <br /> <br />
                        </div>
                    </div>
                </form>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </form>
        </div>
    </div>

</div>



</body>
</html>